body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #E7F0DC;
}

h1, h2, h3 {
    text-align: center;
}

form {
    width: 100%; /* Lebar form yang fleksibel */
    max-width: 1200px; /* Lebar maksimum form */
    background-color: #78a455;
    padding: 20px;
    margin: 0 auto; /* Memusatkan form secara horizontal */
    border-radius: 8px; /* Sudut membulat untuk form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan untuk efek kedalaman */
    display: flex;
    flex-direction: column; /* Mengatur form agar elemen berada di bawah satu sama lain */
    gap: 10px;
}

label {
    padding-top: 5px;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

input {
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: whitesmoke;
}


/* hide spinner pada input number */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* hide spinner pada input number */
input[type=number] {
    -moz-appearance: textfield;
}

/* button {
    /* background-color: tomato;
    padding: 10px 2px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none; */
    
*/

button {
   cursor: pointer; 
}

button:active {
    transform: scale(0.98); 
            /* Scaling button to 0.98 to its original size */ 
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
            /* Lowering the shadow */ 
}

table {
    background-color: whitesmoke;
    width: 100%; /* Lebar penuh */
    max-width: 1230px; /* Lebar maksimum tabel */
    margin: 0 auto; /* Memusatkan tabel di layar */
    border-collapse: collapse;
    table-layout: fixed; /* Menetapkan lebar tabel agar lebih konsisten */
}

table, th, td {
    border: 1px solid #ddd;
}

/* th, td {
    
} */

th {
    padding: 10px;
    text-align: center;
    white-space: nowrap; /* Mencegah header terpotong */
    overflow: hidden;
    text-overflow: ellipsis; /* Menambahkan "..." jika teks terlalu panjang */
}

td {
    word-wrap: break-word; /* Tetap bungkus teks di dalam body tabel */
    word-break: break-all;
}

th:nth-child(3), td:nth-child(3) {
    width: 10%;
    text-align: center;
    vertical-align: middle;
}

th:nth-child(2), td:nth-child(2) {
    text-align: center;
    vertical-align: middle;
}

th:nth-child(4), td:nth-child(4) {
    /* padding: 10px; */
    text-align: center;
    vertical-align: middle;
}

th:nth-child(5), td:nth-child(5) {
    width: 50px; /* Lebar tetap untuk kolom ikon trash */
}

th:nth-child(1), td:nth-child(1) {
    text-align: center; /* Menjaga teks berada di tengah */
    vertical-align: middle; /* Opsional: Menjaga teks di tengah secara vertikal */
    padding: -500px; /* Memberi jarak yang cukup dari tepi */
    width: 30%;
}





#total-price {
    font-weight: bold;
    color: #4CAF50;
}

#submit-button {
    text-decoration: none; 
    border: none; 
    padding: 12px 40px; 
    font-size: 16px; 
    background-color: #4f6447; 
    color: #fff; 
    border-radius: 20px; 
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all;
    margin-top: 20px;
}


@media (max-width: 900px) {
    form {
        width: 90%; /* Lebar form yang fleksibel */
        max-width: 600px; /* Lebar maksimum form */
        background-color: #729762;
        padding: 15px;
        margin: 0 auto; /* Memusatkan form secara horizontal */
        border-radius: 8px; /* Sudut membulat untuk form */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan untuk efek kedalaman */
        display: flex;
        flex-direction: column; /* Mengatur form agar elemen berada di bawah satu sama lain */
        gap: 5px;
        margin-top: 40px;
    }

    input {
        padding: 5px;
        font-size: 16px;
    }

    button {
    background-color: tomato;
    padding: 15px 10px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    }

    #submit-button {
        color: white;
        font-weight: 600;
        margin-top: 20px;
    }

    table {
        background-color: whitesmoke;
        width: 100%; /* Lebar penuh */
        max-width: 1230px; /* Lebar maksimum tabel */
        margin: 0 auto; /* Memusatkan tabel di layar */
        border-collapse: collapse;
        table-layout: auto; /* Menetapkan lebar tabel agar lebih konsisten */
    }

    th:nth-child(3), td:nth-child(3) {
        padding: 3px;
        text-align: center;
        vertical-align: middle;
        width: 0%;
    }

    th:nth-child(2), td:nth-child(2) {
        text-align: center;
        vertical-align: middle;
        width: 18%;
    }
    
    th:nth-child(4), td:nth-child(4) {
        /* padding: 10px; */
        text-align: center;
        vertical-align: middle;
        width: 18%;
    }
    
    th:nth-child(5), td:nth-child(5) {
        width: 50px; /* Lebar tetap untuk kolom ikon trash */
    }
    
    th:nth-child(1), td:nth-child(1) {
        text-align: center; /* Menjaga teks berada di tengah */
        vertical-align: middle; /* Opsional: Menjaga teks di tengah secara vertikal */
        padding: 0px; /* Memberi jarak yang cukup dari tepi */
        width: 35%;
    }
}
